/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  max-width: 100%;
  margin: auto;
}


.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
  width: 100%;
}

.gray{
  background-color: transparent;
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

@media only screen and (max-width: 480px) {
  .main-content {
    top: 3rem;
  }
}

/* Header */

header {
  position: fixed;
  height: 85px;
  width: 100%;
  max-width: inherit;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  height: 100%;
  /*padding: 1.875rem;*/
}

header .logo {
  color: #4A4A4A;
  font-size: 24px;
  font-family: "Roboto" "Mono" "Regular";
  flex: 1;
  padding-left: 30px;
}

header nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 3.5rem;
  color: #4A4A4A;
  font-size: 16px;
  font-family: "Robot" "Regular";
  line-height: 1.6;
  padding-right: 30px;
}

nav a {
  display: flex;
  align-items: center;
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}



.tablett {
  display: none;
  padding: .1875rem .5rem;
  background-color: #9dc20b;
  line-height: 1.6;
  color: white;
}

@media only screen and (max-width: 1024px) and (min-width: 540px) {

  .tablett {
    display: inline;
    background-color: transparent;

  }

  .tablet {
    display: inline;
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }

  nav {
    padding-right: 15px;
  }

  nav li {
    padding-left: 2rem;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 695px) and (min-width: 480px) {

  .tablett {
    display: none;
  }

  nav {

    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav li {
    padding-left: 0rem;
    padding-right: 8px;
  }
}

@media only screen and (max-width: 480px) {
  header{
    height: 48px;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    height: 48px;
    /*padding: .5rem 0;*/
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

/* Sign Up Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 43.5rem;
  width: 100%;
  background-image: url(../images/banner-landingpage.jpg);
  background-size: 100% 100%;
}

#sign-up-cta {
  padding: 1rem 5rem 3.5rem 5rem;
  margin: 0px 0px 0px 100px;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  display: inline;
  font-size: 3.125rem;
  margin: 0 0 12px 0;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
  margin: 0;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  width: 300px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

@media only screen and (max-width: 1024px) and (min-width: 540px){

  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
    width: 100%;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    margin: auto;
  }

  #sign-up-cta .content {
    width: auto;
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 540px) and (min-width: 480px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
    width: 100%;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    margin: auto;
  }

  #sign-up-cta .content {
    width: auto;
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 480px) {
  #sign-up-cta .content {
    width: auto;
  }

  #sign-up-section {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    margin: auto;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }

  #sign-up-cta .content {
    width: auto;
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: #f3f3f3;
  overflow: hidden;
}

.feature {
  height: 635px;
  flex: 1;
  padding: 2rem 0;
  margin: 0 19px;
  background-color: white;
  text-align: center;
}

.feature .image-container img {
  width: 100%;
  height: 50%;
}

.feature .image-container {
  width: 90%;
  height: 65%;
  margin: 0 auto;
}

.feature .content{
  height: 187px;
}

.feature h2 {
  padding-bottom: .5rem;
  margin: 40px 0px 0px 0px;
  line-height: 1.2;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
  margin-top: 0;
}

@media only screen and (max-width: 1024px) and (min-width: 540px) {
  #features-section {
    padding: 4rem 2%;
  }

  .feature {
    height: auto;
    text-align: left;
    margin: 0 1%;
  }

  .feature .content{
    height: auto;
  }

  .feature h2 {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
  }

  .feature h3 {
    font-size: 1rem;
    line-height: 1.4;
    text-align: left;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 540px) and (min-width: 480px) {
  #features-section {
    padding: 4rem 2%;
  }

  .feature {
    height: auto;
    text-align: left;
    margin: 0 1%;
  }

  .feature .content{
    height: auto;
  }

  .feature h2 {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
  }

  .feature h3 {
    font-size: 1rem;
    line-height: 1.4;
    text-align: left;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 480px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 16px 0 30px 0;
  }

  .feature .content{
    height: auto;
  }

  .feature h2 {
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    font-weight: 500;
  }

  .feature h3 {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
  }

  .gray{
    background-color: lightgray;
  }
}

/* Filters Section */

#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

#filters-section .content h3 {
  width: 30%;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
  margin: 10px auto 0;
}

#filters-section .images-container {
  display: flex;
  max-width: 100%;
  padding: 0 1%;
}

#filters-section .images-container img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) and (min-width: 540px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    padding: 2rem 0;
    margin-bottom: 0;
  }


  #filters-section .content h3 {
    width: 100%;
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0 1% 0 0;
  }
}

@media only screen and (max-width: 540px) and (min-width: 480px){
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    padding: 2rem 0;
    margin-bottom: 0;
  }


  #filters-section .content h3 {
    width: 100%;
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0 1% 0 0;
  }
}

@media only screen and (max-width: 480px){
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1.5rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    width: 75%;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}

/* Quotes Section */

#quotes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

#quotes-section .content {
  padding: 5rem 0;
}

#quotes-section .quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section .quote-citation {
  height: 1.875rem;
}

@media only screen and (max-width: 1024px) and (min-width: 540px){
  #quotes-section .content {
    display: flex;
    align-items: center;
    padding: 2.5rem 0;
  }

  #quotes-section .content span{
    width: 80%;
  }
}

@media only screen and (max-width: 540px) and (min-width: 480px){
  #quotes-section .content {
    display: flex;
    align-items: center;
    padding: 2.5rem 0;
  }

  #quotes-section .content span{
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  #quotes-section .content {
    display: flex;
    flex-direction: column;
    padding: 1.875rem .625rem;
  }

  #quotes-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section .quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}

/* Footer */

footer {
  background-color: #9b9b9b;
  padding: 1.5rem 1rem;
}

footer .content {
  width: 99%;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (min-width: 480px) {
  footer .content {
    font-size: .625rem;
  }
}